<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logdir" value="./Logs" />
	<targets>
		<target name="logfile" xsi:type="File"
		fileName="${logdir}/vpnconsole_log${date:format=yyyy-MM-dd}.log"
		keepFileOpen="false"
		archiveFileName="${logdir}/archive/vpnconsole_log${date:format=yyyy-MM-dd}.{#}.log"
		archiveEvery="Day"
		archiveNumbering="Rolling"
		maxArchiveFiles="100"
		concurrentWrites="false"

		layout="${date:format=dd-MM-yy HH\:mm\:ss.ff}|${pad:padding=4:fixedLength=true:inner=${level:uppercase=true}}|${threadid:padding=2}|${pad:padCharacter= :padding=18:fixedLength=true:inner=${logger:shortName=false}}.${pad:padCharacter= :padding=-20:fixedLength=true:inner=${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}}|${message}|${all-event-properties:format=[key]\=[value]:separator=} ${onexception:${newline} Exception_Occured\:${exception:format=toString,Data:maxInnerExceptionLevel=3:InnerExceptionSeparator=\n\t\Inner=>}}" >
		</target>


	</targets>



	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile">
		</logger>
	</rules>
</nlog>